<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %>
      <span class="navbar-text ml-2">Logged in as <%= user.email %></span>
      <form class="form-inline ml-2" method="POST" action="/logout">
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    <% } else { %>
      <form class="form-inline ml-2" method="POST" action="/login">
        <div class="form-group mr-2">
          <label for="email" class="sr-only">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="form-group mr-2">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    <% } %>
  </nav>
</header>
